{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>monitoring</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/monitoring.css' %}">
<style>
 

    label[for='id_ip'] {
        
        padding-right: 33px;
    }
    label[for='id_login'] {
       
        padding-right: 3px;
    }
    label[for='id_port'] {
        
        padding-right: 45px;
    }
    input {
                padding: 5px;
                border: solid 5px #c9c9c9;
                
                transition: box-shadow 0.3s, border 0.3s;
            }

            input:focus {
                border: solid 5px #969696;
            }
    </style>


    </head>
    <body>
        <div>
            <h1>Podaj parametry skanowania</h1>
        </div>
<form action="" method="post">
{% csrf_token %}

<ul class="contactList">
       {{ form.as_p }}
    </ul>
<input type="submit" name="newsletter_sub" value="Scan" />
</form>
    </body>
</html>