{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>monitoring</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/monitoring.css' %}">

        <style>
        

    label[for='id_monitor_minutes'] {
        
          }
    label[for='id_ping_check'] {
       
        padding-right: 21px;
    }
    label[for='id_backup_days'] {
        
        padding-right: 48px;
    }
    input {
                padding: 5px;
                border: solid 5px #c9c9c9;
                
                transition: box-shadow 0.3s, border 0.3s;
            }

            input:focus {
                border: solid 5px #969696;
            }


        </style>

    </head>
    <body>
        <div>
            <h1>Cron config</h1>
        </div>
<form action="" method="post">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" onclick="alert('Zrobione!')" name="newsletter_sub" value="update"/>
</form>
    </body>
</html>