{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}
<html>
    <head>
        <title>monitoring</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/monitoring.css' %}">
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script>

        $(document).ready(function(){
            $("button").click(function(){
                var checked_ip = new Array();

                $('input[name="cBox[]"]:checked').each(function() {
                checked_ip.push(this.value);
                });
                alert(checked_ip);
                });   
        });
        </script>

    </head>
    <body>
        <div>
            <h1>Monitoring</h1>
        </div>
	<a href="/admin/logout/">LOG OUT</a>
    <form action="/" method="post">
    <div>
        <input type="submit" name="check" value="check" />
        <input type="submit" name="Update" value="Update" />
    </div>
    <div>
        {% csrf_token %}
        {% render_table table %}
    </div>
        </form>
    </body>
</html>
